@tailwind base;
@tailwind components;

@font-face {
    font-family: 'Expo Arabic';
    src: url('../fonts/ExpoArabic-Book.ttf') format('ttf');
}

@font-face {
    font-family: 'AirArabia Normal';
    src: url('../fonts/air-arabia-3.ttf') format('ttf');
}


@tailwind utilities;

.faicon {
    @apply w-6 h-6 !important
}

.fsicon {
    @apply w-5 h-5 !important
}

::-webkit-scrollbar {
    display: none;
}
  
.scroll-bar__modal {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

select {
    -webkit-appearance: none;
    -moz-appearance: none;
}

.e-quick-popup-wrapper {
    @apply min-w-0 sm:min-w-[320px] !important;
}

.e-dlg-header-content,
.e-footer-content {
    @apply hidden !important;
}

.e-lib.e-dialog.e-control.e-schedule-dialog.e-dlg-modal.e-popup.e-popup-open {
    @apply min-h-0 w-[320px] !important
}

.e-lib.e-dialog.e-control.e-device.e-schedule-dialog.e-dlg-modal.e-popup.e-popup-open {
    @apply min-w-0 w-[320px] sm:min-w-[320px] h-auto min-h-0 max-h-[400px] rounded-md !important;
}